{% extends 'base.html.twig' %}

{% block title %}{{empreses[0].nom}}{% endblock %}


{% block body %}
        
        <h1>Empresa {{empreses[0].nom}}</h1>
        <table id="table" class="table">
        <tr class="table-active">
            <th>Nom</th>
            <th>Correu</th>
            <th>Tipus</th>
            <th>Ofertes</th>
        </tr>
        <tbody>
        {% for empresa in empreses %}
            <tr id="{{empresa.id}}">
                <td id="nom"> <img width="50px" heigth="50px" src="../logos/{{empresa.logo}}" /> {{ empresa.nom }}</td>
                <td id="correu">{{empresa.correu }}</td>
                <td id="tipus"> {{empresa.tipus }}</td>
                <td>
                    <select class="btn btn-secondary" id="ofertes">
                        {% for oferta in empresa.ofertas %}
                            <option  id="{{oferta.id}}" value="{{oferta.titol}}">{{oferta.titol}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <div id="form">
        </div>
        <script>
                $("#ofertes").change(function(){
                    var id=$("option:selected", this).attr("id");
                    console.log(id);
                    generarFormularioOculto(id);
                });
                 function generarFormularioOculto(id){
                    let htmlOculto=`<form method="POST" style="display:none" action="/oferta/detall"> <input name="id" type="text" value="${id}"/>  <button id="envia" type="submit"></button></form>`;
                    document.getElementById("form").innerHTML=htmlOculto;
                    document.getElementById("envia").click();
                }
        </script>
{% endblock %}
